<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage.ejs">USC Hyperloop</a>
            </div>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/"><i class="icon-dashboard"></i><span class="hidden-tablet"> Home </span></a></li>	
						<li>
							<a class="dropmenu"><i class="icon-eye-open"></i><span class="hidden-tablet"> Live Stream Data </span></a>
							<ul>
								<li><a class="submenu" href="live-data"><i class="icon-dashboard"></i><span> Pod Dashboard </span></a></li>
								<li><a class="submenu" href="pod-status"><i class="icon-envelope"></i><span> Pod Status Messages </span></a></li>
								<li><a class="submenu" href="live-video"><i class="icon-picture"></i><span> Video Output </span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Historical Data </span></a>
							<ul>
								<li><a class="submenu" href="historical-data"><i class="icon-dashboard"></i><span class="hidden-tablet"> Historical Dashboard </span></a></li>
								<li><a class="submenu" href="charts"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts </span></a></li>
								<li><a class="submenu" href="historical-video"><i class="icon-picture"></i><span class="hidden-tablet"> Video Output </span></a></li>
							</ul>	
						</li>
						<li><a href="chat"><i class="icon-envelope"></i><span class="hidden-tablet"> Chat </span></a></li>
					</ul>
				</div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        	<div id="YawChart" class="span9"></div>
            <div id="PitchChart" class="span9"></div>
            <div id="RollChart" class="span9"></div>
            <div id="VelocityChart" class="span9"></div>
            <div id="PositionChart" class="span9"></div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>

<script type="text/javascript"
      src="https://www.google.com/jsapi?autoload={
        'modules':[{
          'name':'visualization',
          'version':'1',
          'packages':['corechart']
        }]
      }">
</script>

<script type="text/javascript">
    google.setOnLoadCallback(drawChart('Yaw'));
    google.setOnLoadCallback(drawChart('Pitch'));
    google.setOnLoadCallback(drawChart('Roll'));
    google.setOnLoadCallback(drawVelPosCharts('Velocity'));
    google.setOnLoadCallback(drawVelPosCharts('Position'));

    function drawChart(type) {
        var mVals = httpGetData("http://localhost:1337/" + type);
        var mJsonArr = JSON.parse(mVals);
        
        var mChartData = [['Time', type], [0,0]];
        for(var i=0; i < mJsonArr.length; i++) {
            mChartData.push([i, mJsonArr[i].value]);
        }

        var data = google.visualization.arrayToDataTable(mChartData);

        var options = {
          title: type,
          legend: { position: 'right' }
        };

        var chart = new google.visualization.LineChart(document.getElementById(type+'Chart'));

        chart.draw(data, options);
    }

    function drawVelPosCharts(type) {
        var mVals = httpGetData("http://localhost:1337/velocity");
        var mJsonArr = JSON.parse(mVals);

        
        var mChartData = [['Time', 'X', 'Y', 'Z'], [0,0,0,0]];
        for(var i=0; i < mJsonArr.length; i++) {
            mChartData.push([i, mJsonArr[i].x, mJsonArr[i].y, mJsonArr[i].z]);
        }

        var data = google.visualization.arrayToDataTable(mChartData);

        var options = {
          title: type,
          legend: { position: 'right' }
        };

        var chart = new google.visualization.LineChart(document.getElementById(type+'Chart'));

        chart.draw(data, options);
    }



    function httpGetData(mUrl){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", mUrl, false); // true for asynchronous 
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }

</script>
