<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <div class="jumbotron">
        <h1>Hello, world</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>

</head>

<body>

    <div class="row">
    
    <div class="col-sm-3 col-xs-12" id="righttoc">
        <div class="row">
            <div class="col-lg-10 col-md-11 col-sm-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <h3 class="panel-title">Panel title</h3>    
                    </div>

                    <div class="panel-body">Panel content</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Yaw | Pitch | Roll</div>
                    <div class="panel-body">0.0 | 0.0 | 0.0 </div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-heading">Velocity</h3>
                    <div class="panel-body">X | Y | Z</div>
                    <div class="panel-body">0.0 | 0.0 | 0.0 </div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Position</h3>
                    <div class="panel-heading">X | Y | Z</div>
                    <div class="panel-body">0.0 | 0.0 | 0.0 </div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Pressure</h3>
                    <div class="panel-heading">Bearing 1 | Bearing 2 | Bearing 3</div>
                    <div class="panel-body">270 PSI | 270 PSI | 270 PSI </div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Battery</h3>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Wifi Signal</h3>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Power Consumption</h3>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Load</h3>
                    <div class="panel-body">Struct 2 | 200 lbs</div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Load</h3>
                    <div class="panel-body">Struct 3 | 200 lbs</div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Load</h3>
                    <div class="panel-body">Struct 4 | 200 lbs</div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Load</h3>
                    <div class="panel-body">Struct 5 | 200 lbs</div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Load</h3>
                    <div class="panel-body">Struct 6 | 200 lbs</div>
                </div>
                <div class="panel panel-default">
                    <h3 class="panel-title">Inside Temp | Outside Temp</h3>
                    <div class="panel-body">73 Degrees F | 0 Degrees F</div>
                </div>
            </div>
        </div><!-- End of Row -->
    </div>
</div><!-- End of Row -->

</body>
</html>