<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
    #videoElement {
        top:0;
        left:0;
        width:100%; 
        height:100%;
    }
    </style>
</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage.ejs">USC Hyperloop</a>
            </div>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/"><i class="icon-dashboard"></i><span class="hidden-tablet"> Home </span></a></li>	
						<li>
							<a class="dropmenu"><i class="icon-eye-open"></i><span class="hidden-tablet"> Live Stream Data </span></a>
							<ul>
								<li><a class="submenu" href="live-data"><i class="icon-dashboard"></i><span> Pod Dashboard </span></a></li>
								<li><a class="submenu" href="pod-status"><i class="icon-envelope"></i><span> Pod Status Messages </span></a></li>
								<li><a class="submenu" href="live-video"><i class="icon-picture"></i><span> Video Output </span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Historical Data </span></a>
							<ul>
								<li><a class="submenu" href="historical-data"><i class="icon-dashboard"></i><span class="hidden-tablet"> Historical Dashboard </span></a></li>
								<li><a class="submenu" href="charts"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts </span></a></li>
								<li><a class="submenu" href="historical-video"><i class="icon-picture"></i><span class="hidden-tablet"> Video Output </span></a></li>
							</ul>	
						</li>
						<li><a href="chat"><i class="icon-envelope"></i><span class="hidden-tablet"> Chat </span></a></li>
					</ul>
				</div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Exterior Video
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <video autoplay="true" controls id="videoElement">   
     
                            </video>
                        </div>
                        <!-- /.panel-body -->
                        <br>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Interior Video
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <iframe src="http://www.ustream.tv/embed/21466170?html5ui" style="border: 0 none transparent;"  webkitallowfullscreen allowfullscreen frameborder="no" width="360" height="270"></iframe><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank"></a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Pod Output
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Power On
                                    <span class="pull-right text-muted small"><em>11:11:11</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Established link to GCS
                                    <span class="pull-right text-muted small"><em>11:11:20</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Starting Sensors
                                    <span class="pull-right text-muted small"><em>11:11:30</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Air Bearing 1: Operational
                                    <span class="pull-right text-muted small"><em>11:11:50</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Air Bearing 2: Operational
                                    <span class="pull-right text-muted small"><em>11:11:50</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Air Bearing 3: Operational
                                    <span class="pull-right text-muted small"><em>11:11:50</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Inside Temperature</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">73 Degrees F</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                <div class="col-lg-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Brake Status</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <span class="pull-left">Functional</span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    

                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="pull-left">Wheel 1</div><br>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Functional</span>
                                    <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="pull-left">Wheel 2</div><br>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Functional</span>
                                    <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-2x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="pull-left">Wheel 3</div><br>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Functional</span>
                                    <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <!-- /.col-lg-3 -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script>
        var video = document.querySelector("#videoElement");

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

        if (navigator.getUserMedia) {       
            navigator.getUserMedia({video: true}, handleVideo, videoError);
        }

        function handleVideo(stream) {
            video.src = window.URL.createObjectURL(stream);
        }

        function videoError(e) {
            // do something
        }
    </script>
</body>

</html>
