<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>


</head>

<body ng-app="DashboardApp">



    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="homepage.ejs">USC Hyperloop</a>
            </div>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href="/"><i class="icon-dashboard"></i><span class="hidden-tablet"> Home </span></a></li>    
                        <li>
                            <a class="dropmenu"><i class="icon-eye-open"></i><span class="hidden-tablet"> Live Stream Data </span></a>
                            <ul>
                                <li><a class="submenu" href="live-data"><i class="icon-dashboard"></i><span> Pod Dashboard </span></a></li>
                                <li><a class="submenu" href="pod-status"><i class="icon-envelope"></i><span> Pod Status Messages </span></a></li>
                                <li><a class="submenu" href="live-video"><i class="icon-picture"></i><span> Video Output </span></a></li>
                            </ul>   
                        </li>
                        <li>
                            <a class="dropmenu"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Historical Data </span></a>
                            <ul>
                                <li><a class="submenu" href="historical-data"><i class="icon-dashboard"></i><span class="hidden-tablet"> Historical Dashboard </span></a></li>
                                <li><a class="submenu" href="charts"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts </span></a></li>
                                <li><a class="submenu" href="historical-video"><i class="icon-picture"></i><span class="hidden-tablet"> Video Output </span></a></li>
                            </ul>   
                        </li>
                        <li><a href="chat"><i class="icon-envelope"></i><span class="hidden-tablet"> Chat </span></a></li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>







          <!--<div layout="row">
            <div flex>
              <md-card>
                <img class="md-card" >
                
                <md-card-content style="background-color:#999999;">
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button>Action 1</md-button>
                  <md-button>Action 2</md-button>
                </md-card-actions>

                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Yaw | Pitch | Roll</span>
                  </md-card-title-text>
                </md-card-title>
              </md-card>
            </div>
            <div flex>
              <md-card>
                <img class="md-card" >
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Yaw | Pitch | Roll</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button>Action 1</md-button>
                  <md-button>Action 2</md-button>
                </md-card-actions>
              </md-card>
            </div>
            
          </div>
        </div>
        -->






            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span class="pull-left">Yaw | Pitch | Roll</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ yaw }} | {{ pitch }} | {{ roll }} </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <div class="pull-left">Velocity</div><br>
                                            <div class="pull-left"> X | Y | Z</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ velX }} | {{ velY }} | {{ velX }} </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <div class="pull-left">Position</div><br>
                                            <div class="pull-left"> X | Y | Z</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ posX }} | {{ posY }} | {{ posZ }} </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <div class="pull-left">Battery</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ battery }}%</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <div class="pull-left">Wifi Signal</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ wifi }} dBm</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Power Consumption</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ power }} kHr</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Load</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> Struct 1: {{ load1 }} lbs</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Load</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> Struct 2: {{ load2 }} lbs</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div ng-controller="DashboardCtrl" ng-cloak>
                                                <span class="pull-left"> Struct 2: {{ load2 }} lbs</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> Struct 3: {{ load3 }} lbs</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Load</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> Struct 4: {{ load4 }} lbs</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Load</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> Struct 5: {{ load5 }} lbs</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Load</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak> 
                                            <span class="pull-left"> Struct 6: {{ load6 }} lbs</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Inside Temperature</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ temperature1 }} Degrees F</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="pull-left">Outside Tempature</div><br>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ temperature2 }} Degrees F</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span class="pull-left">Pressure Bearing 1</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ pressure1 }} PSI</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span class="pull-left">Pressure Bearing 2</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ pressure2 }} PSI</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-comments fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span class="pull-left">Pressure Bearing 3</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                        <div ng-controller="DashboardCtrl" ng-cloak>
                                            <span class="pull-left"> {{ pressure3 }} PSI</span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>