<!DOCTYPE html>
<html >
<head>
	<title>Hyperloop</title>
</head>
<body ng-app="socketApp" ng-controller="DataController">

		<table  class="table">
			<tr  ng-repeat="data in dataList | orderBy:predicate:reverse | limitTo: 15">
				<td >{{ data.val }}</td>
			</tr>
		</table>
	    
	    <form >
	      <input type="text" ng-model = "val" class="form-control" placeholder="TypeYourMessageHere">
          <button class="btn btn-default col-lg-2 col-md-2" ng-click="sendMsg()">Send</button>  

	    </form>
	    

	<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
	<script type="text/javascript">
	</script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
	<script type="text/javascript">

		var socketApp = angular.module('socketApp',[]);

		socketApp.controller('DataController',['$http','$log','$scope',function($http,$log,$scope){


			$scope.predicate = '-id';
			$scope.reverse = false;
			$scope.baseUrl = 'http://localhost:1337';
			$scope.dataList =[];
			$scope.getAllData = function(){

				io.socket.get('/data/addData');

				$http.get($scope.baseUrl+'/data')
					 .success(function(success_data){

					 		$scope.dataList = success_data;
					 		$log.info(success_data);
					 });
			};

			$scope.getAllData();
			$scope.val="";

			io.socket.on('data',function(obj){

				if(obj.verb === 'created'){
					$log.info(obj)
					$scope.dataList.push(obj.data);
					$scope.$digest();
				}

			});

			$scope.sendMsg = function(){
				console.log( "hello");
				$log.info($scope.val);
				io.socket.post('/data/addData/',{val: $scope.val});
				console.log( $scope.val);
				$scope.val = "";
			};
		}]);
	</script>
</body>
</html>